body {
    background-color: #f8f9fa;
}

#sidebar {
    background-color: #dc3545;
    color: white;
    min-height: 100vh;
}

#sidebar .nav-link {
    color: white;
}

#sidebar .nav-link.active {
    background-color: #c82333;
}

.card-header {
    background-color: #dc3545;
    color: white;
}

.card.text-white.bg-success .card-header,
.card.text-white.bg-warning .card-header,
.card.text-white.bg-danger .card-header {
    background-color: inherit;
}

.sidebar-sticky{
    background-color:#dc3545;
}

.card.card-black {
    background-color: #000; /* Fundo preto */
    color: #fff; /* Texto branco para contraste */
    border: 1px solid #444; /* Opcional: borda cinza escuro */
}

.card.card-black {
    background-color: #fff; /* Fundo preto */
    color: #000; /* Texto branco para contraste */
    border: 1px solid #444; /* Opcional: borda cinza escuro */
}

.card.card-black .card-header {
    background-color: #333; /* Cabeçalho um pouco mais claro para contraste */
    border-bottom: 1px solid #444; /* Opcional: borda inferior */
}

.charts-container {
    display: flex;
    justify-content: space-between; /* Espaço entre os gráficos */
    padding: 20px; /* Espaçamento interno */
}

.container1, .container2 {
    flex: 1;
    margin: 10px; /* Margem ao redor dos contêineres */
}

.card.card-black .card-title {
    color: #fff; /* Texto branco */
}

.card.card-black .btn-tool {
    color: #fff; /* Ícones brancos */
}
#pieGraph {
    width: 100%;
    height: 100%;
}