#title_sugestoes{
    color:white;
}

#title_inventario{
    color:white;
}

#botao_adicionar_material{
    width: 100%;
    margin-bottom: 2%;
}

#title_criariniciativa{
    color: white;
}

.form-check{
    margin-top: 15px;
}

#title_adicionar_material{
    color: white;
}

