<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AdminLTE 3 | Simple Tables</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Theme style -->
  <link rel="stylesheet" href="../styles/adminlte.min.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

  <link rel="stylesheet" href="../styles/style.css">

</head>
<body onload="showDataSugestoes()" class="hold-transition sidebar-mini">

<script>
  if (!localStorage.getItem('loggedIn')) {
    window.location.href = './views/Login.html';
  }
</script>

<div class="wrapper">

  <!--Preloader-->
  <div class="preloader flex-column justify-content-center align-items-center">
    <img src="../assets/logo_PW.jpeg" alt="AdminLTELogo" >
  </div>
  
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light " >
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="Iniciativas.html" class="nav-link">Iniciativas</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="Colaboradores.html" class="nav-link">Colaboradores</a>
      </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto ">
      <!-- Navbar Search -->
      <li class="nav-item">
        <a class="nav-link" data-widget="navbar-search" href="#" role="button">
            <i class="fas fa-search"></i>
        </a>
        <div class="navbar-search-block">
            <form class="form-inline">
                <div class="input-group input-group-sm">
                    <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-navbar" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                        <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </li>
    
    <!-- Botão de login -->
    <li class="nav-item">
        <a class="nav-link btn-login" href="#" role="button">
            User 123
        </a>
    </li>
    
      
      
    
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4 custom-bg-EB5757">
    <!-- Brand Logo -->
    <a href="../index.html" class="brand-link">
      <img src="../assets/logo_PW.jpeg" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">Admin Center</span>
    </a>


      <!-- SidebarSearch Form -->
      <div class="form-inline ">
        <div class="input-group " data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2 custom-bg-EB5757">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
               <li class="nav-item">
                <a href="../index.html" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt" style="color: white;"></i>
                    <p style="color: white;">
                        Dashboard Center
                        
                    </p>
                </a>
            </li>
            
          <li class="nav-item">
            <a href="GestaoInventario.html" class="nav-link">
              <i class="nav-icon fas fa-th" style="color: white;"></i>
              <p style="color: white;">
                Inventário
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="../index.html" class="nav-link">
              <i class="nav-icon far fa-user" style="color: white;"></i>
              <p style="color: white;">
                Perfil
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="../index.html" class="nav-link">
              <i class="nav-icon fas fa-sign-out-alt" style="color: white;"></i>
              <p style="color: white;">
                Sair
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <style>
          .custom-bg-EB5757 {
      background-color: #EB5757;
  }
      </style>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper custom-bg-EB5757">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
          <div class="row mb-2">
              <div id="title_sugestoes" class="col-sm-6">
                  <h1>Sugestão de Iniciativas</h1>
              </div>
              <div class="col-sm-6">
                  <ol class="breadcrumb float-sm-right">
                      <!-- Botões -->
                      <a href="SugestoesRecusadas.html"><button class="btn btn-secondary float-right mr-2">Sugestões Recusadas</button></a>
                  </ol>
              </div>
          </div>
      </div><!-- /.container-fluid -->
    </section>
  
  
  

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Sugestão de Iniciativas</h3>
              </div>
              <div class="card-body">
                <table class="table table-bordered table-hover" id="sugestoes-table">
                  <thead>
                    <tr>
                      <th>Tipo</th>
                      <th>Local</th>
                      <th>Data</th>
                      <th>Email</th>
                      <th>Contacto</th>
                      <th>Estado</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- As linhas serão inseridas aqui dinamicamente -->
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        
      </div>
      <div id="popup-background-sugestoes">
        <div id="popup-container">
          <span id="close-popup-sugestoes" onclick="return hidePopupSugestoes()">&times;</span>
          <div class="card card-secondary">
            <div class="card-header">
              <h3 class="card-title">Completar Iniciativa</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form id="form-popup-sugestoes">
              <div class="card-body">
                <div class="form-group">
                  <label for="iniciativa">Iniciativa</label>
                  <input type="text" class="form-control" id="iniciativa" name="iniciativa" required>
                </div>
                <div class="form-group">
                  <label for="descricao">Descrição da Iniciativa</label>
                  <textarea id="descricao" class="form-control" name="descricao" rows="4" cols="50" required></textarea>
                </div>
                <div class="form-group">
                  <label for="local">Local</label>
                  <input type="text" class="form-control" id="local" name="local" required>
                </div>
                <div class="form-group">
                  <label for="data">Data Inicio</label>
                  <input type="date" class="form-control" id="data" name="data" required>
                </div>
                <div class="form-group">
                  <label for="vagas">Vagas</label>
                  <input type="number" class="form-control" id="vagas" name="vagas" required>
                </div>
                <div class="form-group">
                  <label for="budget">Orçamento</label>
                  <input type="number" class="form-control" id="budget" name="budget" required>
                </div>
                <div class="form-group">
                  <label for="tipo">Tipo</label>
                  <select id="tipo" class="form-control" name="tipo">
                    <option value="Ajuda Social">Ajuda Social</option>
                    <option value="Educação">Educação</option>
                    <option value="Saúde">Saúde</option>
                    <option value="Ambiental">Ambiental</option>
                    <option value="Inclusão Social">Inclusão Social</option>
                    <option value="Recolha de bens">Recolha de Bens</option>
                  </select>
                </div>
                <label for="lista_materiais">Lista de Materiais:</label><br>
                    <div id="material-list">
                        <!-- Os materiais serão inseridos aqui -->
                    </div>
                    <br>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <button id="Aceitar" type="submit" class="btn btn-primary" onclick="UsarMateriais()">Aceitar</button>
                <button id="Voltar" type="button" class="btn btn-secondary" onclick="return hidePopupSugestoes();">Voltar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <style>

        #popup-background-sugestoes {
          display: none;
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5);
          justify-content: center;
          align-items: center;
          z-index: 1000;
          overflow: auto;
          padding: 20px;
        }
        
        #popup-container {
          background-color: white;
          padding: 20px;
          border-radius: 10px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          position: relative;
          max-width: 90%;
          max-height: 90%;
          overflow: auto;
        }
        
        #close-popup-sugestoes {
          position: absolute;
          top: 10px;
          right: 10px;
          cursor: pointer;
          font-size: 20px;
          font-weight: bold;
        }
      </style>
    </section>

    

    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    Trabalho Realizado por <strong>Grupo 501</strong>
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="../plugins/scripts/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../plugins/bootstrap/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="../plugins/scripts/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../plugins/scripts/demo.js"></script>
<script src="../js/AdicionarMaterial.js"></script>
<script src="../js/Iniciativas.js"></script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
  const tables = document.querySelectorAll("#sugestoes-table tbody, #sugestoes-table2 tbody");

  // Adiciona o evento de clique para expandir a linha a todas as linhas da tabela
  tables.forEach(table => {
    table.addEventListener('click', function(event) {
      const target = event.target;
      if (target.tagName.toLowerCase() === 'td' && target.parentElement.classList.contains('expandable-row')) {
        const expandableBody = target.parentElement.nextElementSibling;
        if (expandableBody && expandableBody.classList.contains('expandable-body')) {
          expandableBody.style.display = (expandableBody.style.display === 'none') ? 'table-row' : 'none';
        }
      }
    });
  });
});
</script>
</body>
</html>
